<div class="container">
  <h2>Editar Usuario</h2>

  <!-- Formulario para editar un usuario -->
  <form (ngSubmit)="updateUser()" #editUserForm="ngForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="number" id="id" class="form-control" [(ngModel)]="userId" name="id" required=>
    </div>

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="user.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" required>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>
</div>


